/* input[type="radio"]:checked + label {
    border: 2px solid black;
    border-radius: 50%;
} */

.image-container {
    position: relative;
}
.crd-image {
    width: 100%;
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.crd-buttons {
    position: absolute;
    bottom:-15%;
    left: 40%;
    
    text-align: center;
    visibility: hidden;
    transform: translate(0, 50%);
    transition: transform .3s ease-in-out;
}
.crd:hover .crd-image {
    opacity: 0.7;
}
.crd:hover .crd-buttons {
    bottom: 5%;
    left: 40%;
    visibility: visible;
    transform: translate(0, -10%);
}